# Python
__pycache__/
*.pyc
venv/

# Node
node_modules/

# Database
*.db

# GeoIP
GeoLite2-City.mmdb

# Environment variables
.env

# OS files
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Logs
*.log

# Docker
*.env.local

# Build
.next/
dist/

# Python cache
*.pyo